<h1>Credit Card details screen!</h1>
<div class="centerContent">
  <p>Card number: {{ card.card_number }}</p>
  <p>Cardholder Name: {{ card.cardholder_name }}</p>
  <p>Csc Code: {{ card.csc_code }}</p>
  <p>Expiration Date Month: {{ card.expiration_date_month }}</p>
  <p>Expiration Date Year: {{ card.expiration_date_year }}</p>
  <p>Issuer: {{ card.issuer }}</p>
  <p class="removeButton" (click)="removeCreditCard(card.card_number)">
    Remove Credit Card
  </p>
  <ul>
    <li *ngFor="let filteredTransaction of filteredTransactions$ | async">
      <div class="transactionstyle">
        <p>
          Card Number: {{ filteredTransaction.credit_card.card_number }} Amount:
          {{ filteredTransaction.amount }}
        </p>
        <p>
          Date: {{ filteredTransaction.date }} Currency:
          {{ filteredTransaction.currency }}
        </p>
      </div>
    </li>
  </ul>
</div>
