ul {
  list-style-type: none;
}

.cardsstyle {
  background-color: rgb(203, 221, 203);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.cardsstyle:hover {
  background-color: rgb(255, 194, 172);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

//burde være responsive, hvis skærmen trækees mindre, skal viewet ændre sig
