<h1>Transactions</h1>
<div class="overall">
  <div class="leftCollum">
    <form #f="ngForm">
      <label for="credit_card">Filter based on Credit Card </label>
      <select class="select-style" required ngModel name="value">
        <option
          *ngFor="let credit_card of credit_cards$ | async"
          [ngValue]="credit_card"
        >
          {{ credit_card.card_number }}
        </option>
      </select>
    </form>
    <ul>
      <h3>All transactions</h3>
      <li
        *ngFor="
          let transaction of transactions$
            | async
            | filterTransaction: f.value.value.card_number
        "
      >
        <div class="transactionstyle">
          <p>
            Card Number: {{ transaction.credit_card.card_number }} Amount:
            {{ transaction.amount }}
          </p>
          <p>
            Date: {{ transaction.date }} Currency: {{ transaction.currency }}
          </p>
          <p class="removeButton" (click)="removeTransaction(transaction)">
            Remove
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="rightCollum">
    <h3>Add transaction</h3>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <div class="form-div">
          <label for="credit_card">Credit Card</label>
          <select
            class="select-style"
            formControlName="credit_card"
            [compareWith]="compareCreditCards"
            required
          >
            <option
              *ngFor="let credit_card of credit_cards$ | async"
              [ngValue]="credit_card"
            >
              {{ credit_card.card_number }}
            </option>
          </select>

          <label for="amount">Amount</label>
          <input
            class="input-style"
            type="number"
            formControlName="amount"
            required
          />

          <label for="currency">Currency</label>
          <input
            class="input-style"
            type="text"
            formControlName="currency"
            required
          />

          <label for="date">Date</label>
          <input
            class="input-style"
            type="text"
            formControlName="date"
            required
          />

          <button type="submit">Submit</button>
        </div>
        <div>
          <h2>Model</h2>
          <pre>{{ transactionForm.value | json }}</pre>
          <pre>status: {{ transactionForm.status }}</pre>
        </div>
      </div>
    </form>
  </div>
</div>
