ul {
  list-style-type: none;
}

.overall {
  display: flex;
  justify-content: space-evenly;
}

.leftCollum {
  width: 50%;
}

.rightCollum {
  width: 50%;
}

.transactionstyle {
  background-color: rgb(153, 209, 192);
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-style {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 200px;
}

.input-style {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 200px;
}

.removeButton {
  background-color: rgb(230, 197, 197);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
